// Type
$font-family-base				: 'Open Sans', sans-serif;
$font-size-base 				: 13px;
$line-height-base				: 1.4;
$text-color						: #444;

// Alert colors common for all surveys and dashaboard
$info							: #3A8ED6;
$danger							: #9d5c5c;
$success						: #5c9d6e;
$warning						: #c68b44;

// Brand colors
$primary-color					: #CCDB29;
//$secondary-color				:
//$grey-darker					:
$grey-lighter					: #E6E6E6;


// Padding & margins
$wide-padding					: 1.5em;  	// around 19.5 pixels
$narrow-padding					: 1em;		// around 13 pixels