<div class="q-single q-single-small">
	<div class="pure-g">
		<div class="pure-u-1 q-row">
			<div class="pure-g">
				<div class="pure-u-11-24 esc-name pure-control-group">
					<input placeholder="Enter name" type="text" class="required pure-u-md-21-24 pure-u-sm-22-24" value="{{escName}}" name="{{escNameId}}" id="{{escNameId}}" />
				</div>
				<div class="pure-u-11-24 esc-email pure-control-group">
					<input placeholder="Enter email" type="text" class="required pure-u-md-21-24 pure-u-sm-22-24" value="{{escEmail}}" name="{{escEmailId}}" id="{{escEmailId}}" />
				</div>
				<div class="pure-u-2-24">
					<a href="#/" class="q-save icon-button pure-button-primary" title="Save" data-toggle="tooltip" data-placement="top"><i class="icon-check"></i></a>
					<a href="#/" class="q-remove icon-button" title="Remove" data-toggle="tooltip" data-placement="top"><i class="icon-trash"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>